<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>EMRLD EARTH</title>
</head>
<body>
    <h1>50 WAYS TO LOVE MTHR EARTH</h1>
    <h3>In Your Home</h3>
    <% for(let i = 0; i < allEarthSeed.length; i++){ %>
        <%    if(allEarthSeed[i].category === "In Your Home"){ %>
        <div class="in-your-home" id="<%=i%>">
            <h5><%=allEarthSeed[i].action%></h5>
                <p><%=allEarthSeed[i].description%><p><br/>
                    <form class="btn addbtn" action="/todo" method="POST">
                        <input type="submit" value="ADD TO TODO LIST">
                    </form>
        </div>
            <%    } else { %>

            <%    } %>

    <%    }  %>
    <h3>On Your Table</h3>
    <% for(let i = 0; i < allEarthSeed.length; i++){ %>
        <%    if(allEarthSeed[i].category === "On Your Table"){ %>
        <div class="on-your-table" id="<%=i%>">
            <h5><%=allEarthSeed[i].action%></h5>
                <p><%=allEarthSeed[i].description%><p><br/>
                    <form class="btn addbtn" action="/todo" method="POST">
                        <input type="submit" value="ADD TO TODO LIST">
                    </form>
        </div>
            <%    } else { %>

            <%    } %>

    <%    }  %>
    <h3>Along Your Commute</h3>
    <% for(let i = 0; i < allEarthSeed.length; i++){ %>
        <%    if(allEarthSeed[i].category === "Along Your Commute"){ %>
        <div class="along-your-commute" id="<%=i%>">
            <h5><%=allEarthSeed[i].action%></h5>
                <p><%=allEarthSeed[i].description%><p><br/>
                    <form class="btn addbtn" action="/todo" method="POST">
                        <input type="submit" value="ADD TO TODO LIST">
                    </form>
        </div>
            <%    } else { %>

            <%    } %>

    <%    }  %>
    <h3>In Your Neighborhood</h3>
    <% for(let i = 0; i < allEarthSeed.length; i++){ %>
        <%    if(allEarthSeed[i].category === "In Your Neighborhood"){ %>
        <div class="in-your-home" id="<%=i%>">
            <h5><%=allEarthSeed[i].action%></h5>
                <p><%=allEarthSeed[i].description%><p><br/>
                    <form class="btn addbtn" action="/todo" method="POST">
                        <input type="submit" value="ADD TO TODO LIST">
                    </form>
        </div>
            <%    } else { %>

            <%    } %>

    <%    }  %>
</body>
</html>
