<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>EMRLD EARTH</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/earth.css">
</head>
<body>
    <header>
        <nav>
        <div class="nav-wrapper teal lighten-1">
          <a href="/main" class="brand-logo">EMRLD EARTH</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/earth">Tips</a></li>
            <li><a href="/todo">Reminders</a></li>
            <li><a href="/carbon">Calculator</a></li>
            <li><a href="/tracker">Tracker</a></li>
          </ul>
        </div>
      </nav>
    </header>
<div class="container">
    <h1>50 WAYS TO LOVE MTHR EARTH</h1>
    <div class="internal-nav">
        <a href="#home">In Your Home |</a>
        <a href="#table">On Your Table |</a>
        <a href="#commute">Along Your Commute |</a>
        <a href="#neigh">In Your Neighborhood</a>
    </div>
    <h3 id="home">In Your Home</h3>
    <% for(let i = 0; i < allEarthSeed.length; i++){ %>
        <%    if(allEarthSeed[i].category === "In Your Home"){ %>
        <div class="in-your-home" id="<%=i%>">
            <div class="col s12 m6">
                <div class="card teal lighten-2">
                    <div class="card-content white-text">
                        <span class="card-title"><%=allEarthSeed[i].action%></span>
                        <p><%=allEarthSeed[i].description%></p>
                    </div>
                    <div class="card-action">
                        <form class="waves-effect waves-light btn amber darken-1" action="/earth/<%=i%>?_method=PUT" method="POST">
                            <input type="submit" value="ADD TO REMINDERS LIST">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <%    } else { %>

        <%    } %>

    <%    }  %>
    <h3 id="table">On Your Table</h3>
    <% for(let i = 0; i < allEarthSeed.length; i++){ %>
        <%    if(allEarthSeed[i].category === "On Your Table"){ %>
        <div class="on-your-table" id="<%=i%>">
            <div class="col s2 m2">
                <div class="card teal">
                    <div class="card-content white-text">
                        <span class="card-title"><%=allEarthSeed[i].action%></span>
                        <p><%=allEarthSeed[i].description%></p>
                    </div>
                    <div class="card-action">
                        <form class="waves-effect waves-light btn amber darken-1" action="/earth/<%=i%>?_method=PUT" method="POST">
                            <input type="submit" value="ADD TO REMINDERS LIST">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <%    } else { %>

        <%    } %>

    <%    }  %>
    <h3 id="commute">Along Your Commute</h3>
    <% for(let i = 0; i < allEarthSeed.length; i++){ %>
        <%    if(allEarthSeed[i].category === "Along Your Commute"){ %>
        <div class="along-your-commute" id="<%=i%>">
            <div class="col s2 m2">
                <div class="card teal darken-2">
                    <div class="card-content white-text">
                        <span class="card-title"><%=allEarthSeed[i].action%></span>
                        <p><%=allEarthSeed[i].description%></p>
                    </div>
                    <div class="card-action">
                        <form class="waves-effect waves-light btn amber darken-1" action="/earth/<%=i%>?_method=PUT" method="POST">
                            <input type="submit" value="ADD TO REMINDERS LIST">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <%    } else { %>

        <%    } %>

    <%    }  %>
    <h3 id="neigh">In Your Neighborhood</h3>
    <% for(let i = 0; i < allEarthSeed.length; i++){ %>
        <%    if(allEarthSeed[i].category === "In Your Neighborhood"){ %>
        <div class="in-your-home" id="<%=i%>">
            <div class="col s2 m2">
                <div class="card teal darken-4">
                    <div class="card-content white-text">
                        <span class="card-title"><%=allEarthSeed[i].action%></span>
                        <p><%=allEarthSeed[i].description%></p>
                    </div>
                    <div class="card-action">
                        <form class="waves-effect waves-light btn amber darken-1" action="/earth/<%=i%>?_method=PUT" method="POST">
                            <input type="submit" value="ADD TO REMINDERS LIST">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <%    } else { %>

        <%    } %>

    <%    }  %>
</div>

<% include ../partials/footer.ejs %>

</body>
</html>
