<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>EMRLD EARTH</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
         <script src="https://code.jquery.com/jquery-3.3.1.min.js" charset="utf-8"></script>
         <link rel="stylesheet" href="/todo.css">
    </head>
    <body>
        <header>
            <nav>
            <div class="nav-wrapper amber darken-1">
              <a href="/main" class="brand-logo">EMRLD EARTH</a>
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/earth">Tips</a></li>
                <li><a href="/todo">Reminders</a></li>
                <li><a href="/carbon">Calculator</a></li>
                <li><a href="/tracker">Tracker</a></li>
              </ul>
            </div>
          </nav>
        </header>

        <div class="container">
            <h1>REMINDERS</h1>
            <div class="internal-nav">
                <a href="/todo/new" class="waves-effect waves-light btn amber darken-1">Create New Item</a>
                <a href="/earth" class="waves-effect waves-light btn amber darken-1">Add to Reminders From Emrld Tips</a>
            </div>


            <!-- if todo property is null, then have "Create a todo", else the todo properties will show -->
            <h3>In Your Home</h3>
        <%    for(let i = 0; i < allTodo.length; i++){ %>
            <%    if(allTodo[i].category === "In Your Home"){  %>
                    <div class="todo-item">
                        <h6><a href="/todo/<%=allTodo[i].id%>">Action: <%=allTodo[i].action%><br/></a></h6>
                        <form action="/tracker" method="POST">
                            <label for="check-home">
                                <input type="checkbox" id="check-home" name='completed'
                                 <%    if(allTodo[i].completed === true) {   %>

                                            checked

                                        <%    }   %>

                                        />

                                <span>Completed</span>
                            </label><br/>

                        </form>
                    </div>

            <%    } else {  %>

            <%    }  %>

        <%    }  %>

            <h3>On Your Table</h3>
        <%    for(let i = 0; i < allTodo.length; i++){ %>
            <%    if(allTodo[i].category === "On Your Table"){  %>
                    <div class="todo-item">
                    <h6><a href="/todo/<%=allTodo[i].id%>">Action: <%=allTodo[i].action%><br/></a></h6>
                        <form action="#" method="POST">
                            <label for="check-table">
                                <input type="checkbox" id="check-table" name='completed'
                                <%    if(allTodo[i].completed === true) {   %>

                                           checked

                                       <%    }   %>

                                       />

                                <span>Completed</span>
                            </label><br/>
                        </form>
                    </div>

            <%    } else {  %>

            <%    }  %>

        <%    }  %>

        <h3>Along Your Commute</h3>
    <%    for(let i = 0; i < allTodo.length; i++){ %>
        <%    if(allTodo[i].category === "Along Your Commute"){  %>
                <div class="todo-item">
                <h6><a href="/todo/<%=allTodo[i].id%>">Action: <%=allTodo[i].action%><br/></a></h6>
                    <form action="#" method="POST">
                        <label for="check-commute">
                            <input type="checkbox" id="check-commute" name='completed'
                            <%    if(allTodo[i].completed === true) {   %>

                                       checked

                                   <%    }   %>

                                   />

                            <span>Completed</span>
                        </label><br/>

                    </form>
                </div>

        <%    } else {  %>

        <%    }  %>

    <%    }  %>



    <h3>In Your Neighborhood</h3>
    <%    for(let i = 0; i < allTodo.length; i++){ %>
    <%    if(allTodo[i].category === "In Your Neighborhood"){  %>
            <div class="todo-item">
            <h6><a href="/todo/<%=allTodo[i].id%>">Action: <%=allTodo[i].action%><br/></a></h6>
                <form action="#" method="POST">
                    <label for="check-neigh">
                        <input type="checkbox"  id="check-neigh" name='completed'
                        <%    if(allTodo[i].completed === true) {   %>

                                   checked

                               <%    }   %>

                               />

                        <span>Completed</span>
                    </label> <br/>
                </form>
            </div>

    <%    } else {  %>

    <%    }  %>

    <%    }  %>
        </div>
        <footer class="page-footer grey darken-1">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text-logo">EMRLD EARTH</h5>
                <p class="grey-text text-lighten-4">Keep track of your loving contributions to earth.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Contact Developer</h5>
                <ul>
                    <li>Tori-Ann Watkis</li>
                    <li>toriwat328@gmail.com</li>
                    <li><a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/tori-ann-watkis/">LinkedIn</a></li>
                    <li><a class="grey-text text-lighten-3" href="https://github.com/toriwat328/emrld_earth">GitHub</a></li>
                </ul>
                <h5 class="white-text">Sources</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="https://www.curbed.com/2017/6/7/15749900/how-to-stop-climate-change-actions">Curbed Article</a></li>
                    <li><a class="grey-text text-lighten-3" href="https://www3.epa.gov/carbon-footprint-calculator/">Carbon Footprint Calculations</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2019 Copyright EMRLD EARTH
            </div>
          </div>
        </footer>
<script>
$(document).ready(function() {

});

//checking to see what the value is when i click on completed checkbox
function value_() {
  var checkbox = document.getElementById('mycheckbox');
  alert('checkbox value: ' + checkbox.checked)

}
</script>
    </body>
</html>
