<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>EMRLD EARTH</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    </head>
    <body>
        <h1>TODO INDEX</h1>
        <a href="/todo/new">Create New Todo Item</a><br/>
        <a href="/main">Back to Dashboard</a>
        <!-- if todo property is null, then have "Create a todo", else the todo properties will show -->
        <h3>In Your Home</h3>
    <%    for(let i = 0; i < allTodo.length; i++){ %>
        <%    if(allTodo[i].category === "In Your Home"){  %>
                <div class="todo-item">
                    <a href="/todo/<%=allTodo[i].id%>">Action: <%=allTodo[i].action%><br/></a>
                    <form action="#" method="POST">
                        <label>
                            <input type="checkbox">
                            <span>Completed</span>
                        </label>
                    </form>
                </div>

        <%    } else {  %>

        <%    }  %>

    <%    }  %>

        <h3>On Your Table</h3>
    <%    for(let i = 0; i < allTodo.length; i++){ %>
        <%    if(allTodo[i].category === "On Your Table"){  %>
                <div class="todo-item">
                    <a href="/todo/<%=allTodo[i].id%>">Action: <%=allTodo[i].action%><br/></a>
                    <form action="#" method="POST">
                        <label>
                            <input type="checkbox">
                            <span>Completed</span>
                        </label>
                    </form>
                </div>

        <%    } else {  %>

        <%    }  %>

    <%    }  %>

    <h3>Along Your Commute</h3>
<%    for(let i = 0; i < allTodo.length; i++){ %>
    <%    if(allTodo[i].category === "Along Your Commute"){  %>
            <div class="todo-item">
                <a href="/todo/<%=allTodo[i].id%>">Action: <%=allTodo[i].action%><br/></a>
                <form action="#" method="POST">
                    <label>
                        <input type="checkbox">
                        <span>Completed</span>
                    </label>
                </form>
            </div>

    <%    } else {  %>

    <%    }  %>

<%    }  %>



<h3>In Your Neighborhood</h3>
<%    for(let i = 0; i < allTodo.length; i++){ %>
<%    if(allTodo[i].category === "In Your Neighborhood"){  %>
        <div class="todo-item">
            <a href="/todo/<%=allTodo[i].id%>">Action: <%=allTodo[i].action%><br/></a>
            <form action="#" method="POST">
                <label>
                    <input type="checkbox">
                    <span>Completed</span>
                </label>
            </form>
        </div>

<%    } else {  %>

<%    }  %>

<%    }  %>




    </body>
</html>
