<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>EMRLD EARTH</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
         <script src="https://code.jquery.com/jquery-3.3.1.min.js" charset="utf-8"></script>
    </head>
    <body>
        <h1>TODO INDEX</h1>
        <a href="/todo/new">Create New Todo Item</a><br/>
        <a href="/main">Back to Dashboard</a><br/>
        <a href="/earth">Add To-Dos From Earth Tips</a><br/>
        <!-- if todo property is null, then have "Create a todo", else the todo properties will show -->
        <h3>In Your Home</h3>
    <%    for(let i = 0; i < allTodo.length; i++){ %>
        <%    if(allTodo[i].category === "In Your Home"){  %>
                <div class="todo-item">
                    <a href="/todo/<%=allTodo[i].id%>">Action: <%=allTodo[i].action%><br/></a>
                    <form action="/tracker" method="POST">
                        <label for="check-home">
                            <input type="checkbox" id="check-home" name='completed'
                             <%    if(allTodo[i].completed === true) {   %>

                                        checked

                                    <%    }   %>

                                    />

                            <span>Completed</span>
                        </label><br/>

                    </form>
                </div>

        <%    } else {  %>

        <%    }  %>

    <%    }  %>

        <h3>On Your Table</h3>
    <%    for(let i = 0; i < allTodo.length; i++){ %>
        <%    if(allTodo[i].category === "On Your Table"){  %>
                <div class="todo-item">
                    <a href="/todo/<%=allTodo[i].id%>">Action: <%=allTodo[i].action%><br/></a>
                    <form action="#" method="POST">
                        <label for="check-table">
                            <input type="checkbox" id="check-table" name='completed'
                            <%    if(allTodo[i].completed === true) {   %>

                                       checked

                                   <%    }   %>

                                   />

                            <span>Completed</span>
                        </label><br/>
                    </form>
                </div>

        <%    } else {  %>

        <%    }  %>

    <%    }  %>

    <h3>Along Your Commute</h3>
<%    for(let i = 0; i < allTodo.length; i++){ %>
    <%    if(allTodo[i].category === "Along Your Commute"){  %>
            <div class="todo-item">
                <a href="/todo/<%=allTodo[i].id%>">Action: <%=allTodo[i].action%><br/></a>
                <form action="#" method="POST">
                    <label for="check-commute">
                        <input type="checkbox" id="check-commute" name='completed'
                        <%    if(allTodo[i].completed === true) {   %>

                                   checked

                               <%    }   %>

                               />

                        <span>Completed</span>
                    </label><br/>

                </form>
            </div>

    <%    } else {  %>

    <%    }  %>

<%    }  %>



<h3>In Your Neighborhood</h3>
<%    for(let i = 0; i < allTodo.length; i++){ %>
<%    if(allTodo[i].category === "In Your Neighborhood"){  %>
        <div class="todo-item">
            <a href="/todo/<%=allTodo[i].id%>">Action: <%=allTodo[i].action%><br/></a>
            <form action="#" method="POST">
                <label for="check-neigh">
                    <input type="checkbox"  id="check-neigh" name='completed'
                    <%    if(allTodo[i].completed === true) {   %>

                               checked

                           <%    }   %>

                           />

                    <span>Completed</span>
                </label> <br/>
            </form>
        </div>

<%    } else {  %>

<%    }  %>

<%    }  %>

<script>
$(document).ready(function() {

});

//checking to see what the value is when i click on completed checkbox
function value_() {
  var checkbox = document.getElementById('mycheckbox');
  alert('checkbox value: ' + checkbox.checked)

}
</script>

<!-- onclick="value_()" -->

    </body>
</html>
