<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>EMRLD EARTH</title>
    </head>
    <body>
        <h1>TODO INDEX</h1>
        <a href="/todo/new">Create New Todo Item</a><br/>
        <a href="/main">Back to Dashboard</a>
        <!-- if todo property is null, then have "Create a todo", else the todo properties will show -->
        <h3>In Your Home</h3>
    <%    for(let i = 0; i < allTodo.length; i++){ %>
        <%    if(allTodo[i].category === "In Your Home"){  %>
                <div class="todo-item">
                    <a href="/todo/<%=allTodo[i].id%>">Action: <%=allTodo[i].action%><br/></a>
                    Description: <%=allTodo[i].description%><br/>
                    <form action="index.html" method="post">
                    Completed:   <input type="checkbox" name="" value="">
                    </form>
                    <form class="btn deletebtn" action="/todo/<%=allTodo[i].id%>?_method=DELETE" method="POST">
                        <input type="submit" value="DELETE">
                    </form>
                    <button><a href"/todo/<%=id%>/edit">Edit</a></button>
                </div>

        <%    } else {  %>

        <%    }  %>

    <%    }  %>

        <h3>On Your Table</h3>
    <%    for(let i = 0; i < allTodo.length; i++){ %>
        <%    if(allTodo[i].category === "On Your Table"){  %>
                <div class="todo-item">
                    <a href="/todo/<%=allTodo[i].id%>">Action: <%=allTodo[i].action%><br/></a>
                    Description: <%=allTodo[i].description%><br/>
                    <form action="index.html" method="post">
                    Completed:   <input type="checkbox" name="" value="">
                    </form>
                    <form class="btn deletebtn" action="/todo/<%=allTodo[i].id%>?_method=DELETE" method="POST">
                        <input type="submit" value="DELETE">
                    </form>
                    <button><a href"/todo/<%=id%>/edit">Edit</a></button>
                </div>

        <%    } else {  %>

        <%    }  %>

    <%    }  %>

    <h3>Along Your Commute</h3>
<%    for(let i = 0; i < allTodo.length; i++){ %>
    <%    if(allTodo[i].category === "Along Your Commute"){  %>
            <div class="todo-item">
                <a href="/todo/<%=allTodo[i].id%>">Action: <%=allTodo[i].action%><br/></a>
                Description: <%=allTodo[i].description%><br/>
                <form action="index.html" method="post">
                Completed:   <input type="checkbox" name="" value="">
                </form>
                <form class="btn deletebtn" action="/todo/<%=allTodo[i].id%>?_method=DELETE" method="POST">
                    <input type="submit" value="DELETE">
                </form>
                <button><a href"/todo/<%=id%>/edit">Edit</a></button>
            </div>

    <%    } else {  %>

    <%    }  %>

<%    }  %>



<h3>In Your Neighborhood</h3>
<%    for(let i = 0; i < allTodo.length; i++){ %>
<%    if(allTodo[i].category === "In Your Neighborhood"){  %>
        <div class="todo-item">
            <a href="/todo/<%=allTodo[i].id%>">Action: <%=allTodo[i].action%><br/></a>
            Description: <%=allTodo[i].description%><br/>
            <form action="index.html" method="post">
            Completed:   <input type="checkbox" name="" value="">
            </form>
            <form class="btn deletebtn" action="/todo/<%allTodo[i].id%>?_method=DELETE" method="POST">
                <input type="submit" value="DELETE">
            </form>
            <button><a href"/todo/<%=id%>/edit">Edit</a></button>
        </div>

<%    } else {  %>

<%    }  %>

<%    }  %>




    </body>
</html>
